# For documentation, see: https://docs.gitlab.com/ee/user/project/codeowners/
#
# *** NOTE ***
#   KEEP THE LISTS OF INDIVIDUAL CODEOWNERS/TEAMS IN ALPHABETICALLY SORTED ORDER
#


#
## MAPPING of GitHub USERNAME to PERSON in ALPHABETICAL ORDER on username
#
# @DejunL - Dejun Lin
# @broland-hat - Brian Roland
# @cspades - Cory Ye
# @dorotat-nv - Dorota Toczydlowska
# @farhadrgh - Farhad Ramezanghorbani
# @gwarmstrong - George Armstrong
# @jomitchellnv - Jonathan Mitchell
# @jstjohn - John St. John
# @jwilber  - Jared Wilber
# @ntadimeti - Neha Tadimeti
# @nv-mcclure - Zachary McClure
# @nvdreidenbach - Danny Reidenbach
# @ohadmo - Ohad Mosafi
# @polinabinder1 - Polina Binder
# @pstjohn - Peter St. John
# @skothenhill-nv - Steven Kothen-Hill
# @trvachov - Timur Rvachov
# @tshimko-nv - Tyler Shimko
# @yzhang123 - Yang Zhang

* @dorotat-nv @jstjohn @pstjohn @trvachov @skothenhill-nv @jomitchellnv @jwilber @cspades @polinabinder1 @broland-hat @yzhang123

#
## LEGAL
#
LICENSE @dorotat-nv @jstjohn @trvachov
license_header @dorotat-nv @jstjohn @trvachov


#
## DOCUMENTATION
#
**.md @dorotat-nv @jstjohn @pstjohn @trvachov @jwilber @tshimko-nv @polinabinder1 @broland-hat @yzhang123 @cspades @jomitchellnv
docs @dorotat-nv @jstjohn @pstjohn @trvachov @jwilber @tshimko-nv @polinabinder1 @broland-hat @yzhang123 @cspades @jomitchellnv


#
## INFRASTRUCTURE
#
.* @dorotat-nv @jstjohn @pstjohn @trvachov @jomitchellnv
*.txt @dorotat-nv @jstjohn @pstjohn @trvachov
CODEOWNERS @jstjohn @pstjohn @trvachov
Dockerfile @dorotat-nv @jstjohn @ohadmo @pstjohn @trvachov
ci/ @dorotat-nv @pstjohn @trvachov @jwilber @jomitchellnv @jstjohn
.github @dorotat-nv @jstjohn @pstjohn @trvachov @jomitchellnv

# BioNeMo Recipes
models/ @dorotat-nv @jstjohn @pstjohn @trvachov @jwilber @cspades @jomitchellnv @savitha-eng
recipes/ @dorotat-nv @jstjohn @pstjohn @trvachov @jwilber @cspades @jomitchellnv @savitha-eng
interpretability/ @dorotat-nv @jstjohn @pstjohn @trvachov @jwilber @cspades @jomitchellnv @savitha-eng
