mkdocs-material
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocs-gen-files
pymdown-extensions
# Pinned: 0.26.0 (released 2026-03-23) breaks the build with
# "TemplateNotFound: mkdocs_html/assets/index.css". Try unpinning after a fix is released.
mkdocs-jupyter==0.25.1
mkdocs-include-dir-to-nav
mkdocs-literate-nav
mkdocs-site-urls
mike
